composer.phar
/public/views-cache/
/vendor/composer
/vendor/phpmailer
/vendor/rain
/vendor/slim
/vendor/autoload.php
/storage/logs/
/public/res/admin/bootstrap/
/public/res/admin/pages/
/public/res/admin/build/
/public/res/admin/documentation/
/public/res/admin/plugins/
/public/res/admin/dist/


# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
